* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fullscreen {
    background-color: #0004ff;
    width: 100%;
    min-height: 100vh;
    color: white;
    transition: all 0.3s ease-in-out;
}

nav {
    background: #0004ff;
    transition: all 0.3s ease-in-out;
}

.container {
    padding: 20px 40px;
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
    transition: all 0.3s ease-in-out;
}

nav .container {
    display: flex;
}

.title {
    color: #ffffff;
    margin: 0;
}

.toggler-container {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggler {
    width: 60px;
    margin: 0 10px;
    background: #222;
    height: 100%;
    border-radius: 100px;
    position: relative;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.circle {
    background-color: orange;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out
}

/* .toggler:hover {
    cursor: pointer;
    background: limegreen;
}

.toggler:hover .circle {
    transform: translateX(30px);
    background-color: black;
} */

img {
    display: block;
    margin: 20px auto;
    width: 60%;
}

h1,
h2 {
    margin: 20px 0;
}

/* CSS to handle light mode */


.light .toggler {
    background: #333;
}

.light .toggler .circle {
    transform: translateX(30px);
    background-color: white;
}

.fullscreen.light {
    background-color: #eee;
    color: black;
}

.light nav {
    background-color: #10A881;
}

.light nav h1 {
    color: black;
}




@media only screen and (max-width: 550px) {
    nav .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .toggler-container {
        margin: 0;
        margin-top: 20px;
    }

    img {
        width: 100%;
    }
}
